# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment files (except .env.example)
.env
.env.*
!.env.example

# Local development overrides
.env.local
.env.development.local
.env.test.local
.env.production.local

yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Backup files
/backup